# Задание 1

## 1.1Считать данные с помощью pandas 
## Вывести на экран первые 5 строк

In [1]:
import pandas as pd

In [13]:
df=pd.read_csv('kc_final.csv')

In [3]:
df.head()

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

## 1.2 Создать новый признак delta_renovated, который будет содержать разницу в годах между годом реновацией дома и годом постройки дома
## Если реновации дома не было, то в новом признаке поставьте 0

In [14]:
df['delta_renovated']=df['yr_renovated']-df['yr_built']

In [15]:
df.loc[df['delta_renovated']<0,'delta_renovated']=0
df

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated
0,0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,0
1,1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,40
2,2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,0
3,3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,0
4,4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,21608,263000018,2014-05-21,360000.0,3,2.50,1530,1131,3.0,0,...,1530,0,2009,0,98103,47.6993,-122.346,1530,1509,0
21609,21609,6600060120,2015-02-23,400000.0,4,2.50,2310,5813,2.0,0,...,2310,0,2014,0,98146,47.5107,-122.362,1830,7200,0
21610,21610,1523300141,2014-06-23,402101.0,2,0.75,1020,1350,2.0,0,...,1020,0,2009,0,98144,47.5944,-122.299,1020,2007,0
21611,21611,291310100,2015-01-16,400000.0,3,2.50,1600,2388,2.0,0,...,1600,0,2004,0,98027,47.5345,-122.069,1410,1287,0
21612,21612,1523300157,2014-10-15,325000.0,2,0.75,1020,1076,2.0,0,...,1020,0,2008,0,98144,47.5941,-122.299,1020,1357,0

## 1.3 Создайте признаки года продажи, месяца продажи

In [16]:
df['year']=df['date'].apply(lambda x: x.split('-')[0])

In [17]:
df

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated,year
0,0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,...,0,1955,0,98178,47.5112,-122.257,1340,5650,0,2014
1,1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,...,400,1951,1991,98125,47.7210,-122.319,1690,7639,40,2014
2,2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,...,0,1933,0,98028,47.7379,-122.233,2720,8062,0,2015
3,3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,...,910,1965,0,98136,47.5208,-122.393,1360,5000,0,2014
4,4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,...,0,1987,0,98074,47.6168,-122.045,1800,7503,0,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,21608,263000018,2014-05-21,360000.0,3,2.50,1530,1131,3.0,0,...,0,2009,0,98103,47.6993,-122.346,1530,1509,0,2014
21609,21609,6600060120,2015-02-23,400000.0,4,2.50,2310,5813,2.0,0,...,0,2014,0,98146,47.5107,-122.362,1830,7200,0,2015
21610,21610,1523300141,2014-06-23,402101.0,2,0.75,1020,1350,2.0,0,...,0,2009,0,98144,47.5944,-122.299,1020,2007,0,2014
21611,21611,291310100,2015-01-16,400000.0,3,2.50,1600,2388,2.0,0,...,0,2004,0,98027,47.5345,-122.069,1410,1287,0,2015
21612,21612,1523300157,2014-10-15,325000.0,2,0.75,1020,1076,2.0,0,...,0,2008,0,98144,47.5941,-122.299,1020,1357,0,2014

In [18]:
df['month']=df['date'].apply(lambda x: x.split('-')[1])
df

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated,year,month
0,0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,...,1955,0,98178,47.5112,-122.257,1340,5650,0,2014,10
1,1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,...,1951,1991,98125,47.7210,-122.319,1690,7639,40,2014,12
2,2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,...,1933,0,98028,47.7379,-122.233,2720,8062,0,2015,02
3,3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,...,1965,0,98136,47.5208,-122.393,1360,5000,0,2014,12
4,4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,...,1987,0,98074,47.6168,-122.045,1800,7503,0,2015,02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,21608,263000018,2014-05-21,360000.0,3,2.50,1530,1131,3.0,0,...,2009,0,98103,47.6993,-122.346,1530,1509,0,2014,05
21609,21609,6600060120,2015-02-23,400000.0,4,2.50,2310,5813,2.0,0,...,2014,0,98146,47.5107,-122.362,1830,7200,0,2015,02
21610,21610,1523300141,2014-06-23,402101.0,2,0.75,1020,1350,2.0,0,...,2009,0,98144,47.5944,-122.299,1020,2007,0,2014,06
21611,21611,291310100,2015-01-16,400000.0,3,2.50,1600,2388,2.0,0,...,2004,0,98027,47.5345,-122.069,1410,1287,0,2015,01
21612,21612,1523300157,2014-10-15,325000.0,2,0.75,1020,1076,2.0,0,...,2008,0,98144,47.5941,-122.299,1020,1357,0,2014,10

In [19]:
df.drop(columns=['zipcode', 'lat', 'long','date'], inplace=True)

In [20]:
df

,Unnamed: 0,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,year,month
0,0,7129300520,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,1340,5650,0,2014,10
1,1,6414100192,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,1690,7639,40,2014,12
2,2,5631500400,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,2720,8062,0,2015,02
3,3,2487200875,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,1360,5000,0,2014,12
4,4,1954400510,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,1800,7503,0,2015,02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,21608,263000018,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,1530,1509,0,2014,05
21609,21609,6600060120,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,1830,7200,0,2015,02
21610,21610,1523300141,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,1020,2007,0,2014,06
21611,21611,291310100,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,1410,1287,0,2015,01
21612,21612,1523300157,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,1020,1357,0,2014,10

# 2 задача
## Создайте датафрейм с клиентами

In [21]:
clients = pd.DataFrame({
'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295,
939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242,
2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060,
1189000207, 6821600300, 7137950720, 9510920050, 6131600255,
5428000070, 1788800910, 8100400160, 3123049142, 6306800010,
5083000375, 7920100025, 1951600150, 809001400, 339600110,
1622049154, 1099600250, 8563000110, 2768100205, 3995700435,
8861700030, 3303980210, 7731100066, 8146100580, 825069097,
3889100029, 9524100196]
})

In [22]:
clients.head()

   client_id    house_id
0       1459  8965450190
1       4684  6823100225
2       3498  5104540330
3       3942  2131701075
4       4535  1522700060

## 2.1 Присоедините к таблице clients данные по домам через метод join

In [23]:
id=clients.set_index('house_id')

In [24]:
joined=clients.join(df)
joined

,client_id,house_id,Unnamed: 0,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,year,month
0,1459,8965450190,0,7129300520,221900.0,3,1.00,1180,5650,1.0,...,7,1180,0,1955,0,1340,5650,0,2014,10
1,4684,6823100225,1,6414100192,538000.0,3,2.25,2570,7242,2.0,...,7,2170,400,1951,1991,1690,7639,40,2014,12
2,3498,5104540330,2,5631500400,180000.0,2,1.00,770,10000,1.0,...,6,770,0,1933,0,2720,8062,0,2015,02
3,3942,2131701075,3,2487200875,604000.0,4,3.00,1960,5000,1.0,...,7,1050,910,1965,0,1360,5000,0,2014,12
4,4535,1522700060,4,1954400510,510000.0,3,2.00,1680,8080,1.0,...,8,1680,0,1987,0,1800,7503,0,2015,02
5,2308,1189000207,5,7237550310,1225000.0,4,4.50,5420,101930,1.0,...,11,3890,1530,2001,0,4760,101930,0,2014,05
6,2866,6821600300,6,1321400060,257500.0,3,2.25,1715,6819,2.0,...,7,1715,0,1995,0,2238,6819,0,2014,06
7,2765,7137950720,7,2008000270,291850.0,3,1.50,1060,9711,1.0,...,7,1060,0,1963,0,1650,9711,0,2015,01
8,1472,9510920050,8,2414600126,229500.0,3,1.00,1780,7470,1.0,...,7,1050,730,1960,0,1780,8113,0,2015,04
9,4236,6131600255,9,3793500160,323000.0,3,2.50,1890,6560,2.0,...,7,1890,0,2003,0,2390,7570,0,2015,03
10,2295,5428000070,10,1736800520,662500.0,3,2.50,3560,9796,1.0,...,8,1860,1700,1965,0,2210,8925,0,2015,04
11,939,1788800910,11,9212900260,468000.0,2,1.00,1160,6000,1.0,...,7,860,300,1942,0,1330,6000,0,2014,05
12,3840,8100400160,12,114101516,310000.0,3,1.00,1430,19901,1.5,...,7,1430,0,1927,0,1780,12697,0,2014,05
13,280,3123049142,13,6054650070,400000.0,3,1.75,1370,9680,1.0,...,7,1370,0,1977,0,1370,10208,0,2014,10
14,20,6306800010,14,1175000570,530000.0,5,2.00,1810,4850,1.5,...,7,1810,0,1900,0,1360,4850,0,2015,03
15,4332,5083000375,15,9297300055,650000.0,4,3.00,2950,5000,2.0,...,9,1980,970,1979,0,2140,4000,0,2015,01
16,3475,7920100025,16,1875500060,395000.0,3,2.00,1890,14040,2.0,...,7,1890,0,1994,0,1890,14018,0,2014,07
17,4213,1951600150,17,6865200140,485000.0,4,1.00,1600,4300,1.5,...,7,1600,0,1916,0,1610,4300,0,2014,05
18,3113,809001400,18,16000397,189000.0,2,1.00,1200,9850,1.0,...,7,1200,0,1921,0,1060,5095,0,2014,12
19,4809,339600110,19,7983200060,230000.0,3,1.00,1250,9774,1.0,...,7,1250,0,1969,0,1280,8850,0,2015,04
20,2134,1622049154,20,6300500875,385000.0,4,1.75,1620,4980,1.0,...,7,860,760,1947,0,1400,4980,0,2014,05
21,2242,1099600250,21,2524049179,2000000.0,3,2.75,3050,44867,1.0,...,9,2330,720,1968,0,4110,20336,0,2014,08
22,2068,8563000110,22,7137970340,285000.0,5,2.50,2270,6300,2.0,...,8,2270,0,1995,0,2240,7005,0,2014,07
23,4929,2768100205,23,8091400200,252700.0,2,1.50,1070,9643,1.0,...,7,1070,0,1985,0,1220,8386,0,2014,05
24,1384,3995700435,24,3814700200,329000.0,3,2.25,2450,6500,2.0,...,8,2450,0,1985,0,2200,6865,0,2014,11
25,1589,8861700030,25,1202000200,233000.0,3,2.00,1710,4697,1.5,...,6,1710,0,1941,0,1030,4705,0,2014,11
26,3317,3303980210,26,1794500383,937000.0,3,1.75,2450,2691,2.0,...,8,1750,700,1915,0,1760,3573,0,2014,06
27,2260,7731100066,27,3303700376,667000.0,3,1.00,1400,1581,1.5,...,8,1400,0,1909,0,1860,3861,0,2014,12
28,1727,8146100580,28,5101402488,438000.0,3,1.75,1520,6380,1.0,...,7,790,730,1948,0,1520,6235,0,2014,06
29,1764,825069097,29,1873100390,719000.0,4,2.50,2570,7173,2.0,...,8,2570,0,2005,0,2630,6026,0,2015,03
30,1611,3889100029,30,8562750320,580500.0,3,2.50,2320,3980,2.0,...,8,2320,0,2003,0,2580,3980,0,2014,11
31,1474,9524100196,31,2426039314,280000.0,2,1.50,1190,1265,3.0,...,7,1190,0,2005,0,1390,1756,0,2014,12

## 2.2 Присоедините к таблице clients данные по домам через метод merge

In [25]:
merged=clients.merge(df, left_on='house_id', right_on='id')

In [26]:
merged

,client_id,house_id,Unnamed: 0,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,year,month
0,1459,8965450190,7314,8965450190,295000.0,3,2.50,1500,3060,2.0,...,7,1500,0,1994,0,2700,7734,0,2015,02
1,4684,6823100225,15505,6823100225,700000.0,4,1.75,1870,6000,1.0,...,8,1670,200,1949,0,1710,6000,0,2015,04
2,3498,5104540330,7560,5104540330,679000.0,4,2.50,3680,7236,2.0,...,10,3680,0,2006,0,3310,7180,0,2015,05
3,3942,2131701075,13185,2131701075,420000.0,3,1.75,1720,5000,1.5,...,8,1720,0,1932,2009,1410,8300,77,2014,12
4,4535,1522700060,10395,1522700060,518000.0,4,2.75,2520,14021,2.0,...,9,2520,0,1999,0,2330,14007,0,2014,06
5,2308,1189000207,7861,1189000207,387000.0,2,2.50,1170,1394,2.0,...,8,1170,0,2001,0,1250,3136,0,2014,10
6,2866,6821600300,4660,6821600300,886000.0,3,2.25,2380,6000,2.0,...,9,1650,730,1931,0,2000,6000,0,2015,03
7,2765,7137950720,13827,7137950720,339100.0,4,2.50,2350,10655,2.0,...,8,2350,0,1992,0,2210,7028,0,2015,03
8,1472,9510920050,16528,9510920050,725000.0,3,2.50,2980,16996,2.0,...,10,2980,0,1992,0,2980,15438,0,2014,09
9,4236,6131600255,16228,6131600255,202500.0,3,2.00,1540,8316,1.0,...,6,1540,0,1954,0,1250,8316,0,2014,12
10,2295,5428000070,20765,5428000070,770000.0,5,3.50,4750,8234,2.0,...,10,3350,1400,2013,0,2160,14496,0,2015,05
11,939,1788800910,12610,1788800910,190000.0,3,1.00,1200,10458,1.0,...,6,1200,0,1961,0,1160,9000,0,2014,10
12,3840,8100400160,1362,8100400160,700000.0,3,2.25,2330,11424,2.0,...,8,2330,0,1984,0,2050,11448,0,2015,04
13,280,3123049142,6951,3123049142,452000.0,3,2.25,2600,14810,1.0,...,8,1490,1110,1956,0,2450,16715,0,2014,08
14,20,6306800010,20288,6306800010,436472.0,4,2.50,2692,8392,2.0,...,9,2692,0,2014,0,2574,14446,0,2014,08
15,4332,5083000375,3033,5083000375,170000.0,3,1.00,1310,9529,1.0,...,7,1310,0,1956,0,1330,9529,0,2014,10
16,4332,5083000375,3034,5083000375,235000.0,3,1.00,1310,9529,1.0,...,7,1310,0,1956,0,1330,9529,0,2015,03
17,3475,7920100025,2865,7920100025,450000.0,2,1.00,740,5100,1.0,...,7,740,0,1947,0,920,5100,0,2015,04
18,4213,1951600150,12993,1951600150,180000.0,3,1.00,1610,8500,1.5,...,7,1610,0,1959,0,1070,8750,0,2015,04
19,3113,809001400,9369,809001400,925000.0,3,1.00,1630,3200,1.5,...,8,1630,0,1912,0,1710,3600,0,2014,09
20,4809,339600110,3351,339600110,395000.0,3,2.50,1610,3755,2.0,...,7,1610,0,1987,0,1300,3823,0,2014,09
21,2134,1622049154,8879,1622049154,289900.0,3,1.75,1899,11325,2.0,...,7,1899,0,1943,2005,2000,10454,62,2014,12
22,2242,1099600250,6585,1099600250,260000.0,3,1.75,1710,6400,1.0,...,7,1240,470,1976,0,1600,6400,0,2014,12
23,2068,8563000110,17746,8563000110,427000.0,4,1.75,1460,9750,1.0,...,7,1460,0,1967,0,1820,9840,0,2015,04
24,4929,2768100205,19379,2768100205,519000.0,4,2.50,1950,2617,1.5,...,7,1250,700,1910,0,1520,1438,0,2014,06
25,1384,3995700435,11107,3995700435,265000.0,4,3.00,1940,8170,1.0,...,7,1940,0,1948,0,1310,8169,0,2014,07
26,1589,8861700030,10112,8861700030,510000.0,3,1.50,2400,10275,1.0,...,8,1540,860,1964,0,2380,10125,0,2014,12
27,3317,3303980210,18731,3303980210,1115000.0,4,3.75,4040,14212,2.0,...,11,4040,0,2002,0,3940,14212,0,2015,04
28,2260,7731100066,7447,7731100066,545000.0,3,1.00,1510,5000,1.5,...,7,1510,0,1909,0,1680,4000,0,2014,06
29,1727,8146100580,13635,8146100580,765000.0,3,1.00,1220,7585,1.0,...,7,1220,0,1954,0,1380,8918,0,2014,10
30,1764,825069097,3029,825069097,770000.0,3,2.50,2650,40705,2.0,...,9,2650,0,1994,0,2550,42625,0,2014,06
31,1611,3889100029,6880,3889100029,810000.0,3,2.50,2670,10481,2.0,...,9,2670,0,2003,0,2620,8895,0,2014,06
32,1474,9524100196,20781,9524100196,239000.0,2,1.50,680,772,2.0,...,7,680,0,2005,0,690,1059,0,2014,11

# 3 Составьте несколько сводных таблиц

In [27]:
merged_left=clients.merge(df, left_on='house_id', right_on='id', how='left')
merged_left

,client_id,house_id,Unnamed: 0,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,year,month
0,1459,8965450190,7314,8965450190,295000.0,3,2.50,1500,3060,2.0,...,7,1500,0,1994,0,2700,7734,0,2015,02
1,4684,6823100225,15505,6823100225,700000.0,4,1.75,1870,6000,1.0,...,8,1670,200,1949,0,1710,6000,0,2015,04
2,3498,5104540330,7560,5104540330,679000.0,4,2.50,3680,7236,2.0,...,10,3680,0,2006,0,3310,7180,0,2015,05
3,3942,2131701075,13185,2131701075,420000.0,3,1.75,1720,5000,1.5,...,8,1720,0,1932,2009,1410,8300,77,2014,12
4,4535,1522700060,10395,1522700060,518000.0,4,2.75,2520,14021,2.0,...,9,2520,0,1999,0,2330,14007,0,2014,06
5,2308,1189000207,7861,1189000207,387000.0,2,2.50,1170,1394,2.0,...,8,1170,0,2001,0,1250,3136,0,2014,10
6,2866,6821600300,4660,6821600300,886000.0,3,2.25,2380,6000,2.0,...,9,1650,730,1931,0,2000,6000,0,2015,03
7,2765,7137950720,13827,7137950720,339100.0,4,2.50,2350,10655,2.0,...,8,2350,0,1992,0,2210,7028,0,2015,03
8,1472,9510920050,16528,9510920050,725000.0,3,2.50,2980,16996,2.0,...,10,2980,0,1992,0,2980,15438,0,2014,09
9,4236,6131600255,16228,6131600255,202500.0,3,2.00,1540,8316,1.0,...,6,1540,0,1954,0,1250,8316,0,2014,12
10,2295,5428000070,20765,5428000070,770000.0,5,3.50,4750,8234,2.0,...,10,3350,1400,2013,0,2160,14496,0,2015,05
11,939,1788800910,12610,1788800910,190000.0,3,1.00,1200,10458,1.0,...,6,1200,0,1961,0,1160,9000,0,2014,10
12,3840,8100400160,1362,8100400160,700000.0,3,2.25,2330,11424,2.0,...,8,2330,0,1984,0,2050,11448,0,2015,04
13,280,3123049142,6951,3123049142,452000.0,3,2.25,2600,14810,1.0,...,8,1490,1110,1956,0,2450,16715,0,2014,08
14,20,6306800010,20288,6306800010,436472.0,4,2.50,2692,8392,2.0,...,9,2692,0,2014,0,2574,14446,0,2014,08
15,4332,5083000375,3033,5083000375,170000.0,3,1.00,1310,9529,1.0,...,7,1310,0,1956,0,1330,9529,0,2014,10
16,4332,5083000375,3034,5083000375,235000.0,3,1.00,1310,9529,1.0,...,7,1310,0,1956,0,1330,9529,0,2015,03
17,3475,7920100025,2865,7920100025,450000.0,2,1.00,740,5100,1.0,...,7,740,0,1947,0,920,5100,0,2015,04
18,4213,1951600150,12993,1951600150,180000.0,3,1.00,1610,8500,1.5,...,7,1610,0,1959,0,1070,8750,0,2015,04
19,3113,809001400,9369,809001400,925000.0,3,1.00,1630,3200,1.5,...,8,1630,0,1912,0,1710,3600,0,2014,09
20,4809,339600110,3351,339600110,395000.0,3,2.50,1610,3755,2.0,...,7,1610,0,1987,0,1300,3823,0,2014,09
21,2134,1622049154,8879,1622049154,289900.0,3,1.75,1899,11325,2.0,...,7,1899,0,1943,2005,2000,10454,62,2014,12
22,2242,1099600250,6585,1099600250,260000.0,3,1.75,1710,6400,1.0,...,7,1240,470,1976,0,1600,6400,0,2014,12
23,2068,8563000110,17746,8563000110,427000.0,4,1.75,1460,9750,1.0,...,7,1460,0,1967,0,1820,9840,0,2015,04
24,4929,2768100205,19379,2768100205,519000.0,4,2.50,1950,2617,1.5,...,7,1250,700,1910,0,1520,1438,0,2014,06
25,1384,3995700435,11107,3995700435,265000.0,4,3.00,1940,8170,1.0,...,7,1940,0,1948,0,1310,8169,0,2014,07
26,1589,8861700030,10112,8861700030,510000.0,3,1.50,2400,10275,1.0,...,8,1540,860,1964,0,2380,10125,0,2014,12
27,3317,3303980210,18731,3303980210,1115000.0,4,3.75,4040,14212,2.0,...,11,4040,0,2002,0,3940,14212,0,2015,04
28,2260,7731100066,7447,7731100066,545000.0,3,1.00,1510,5000,1.5,...,7,1510,0,1909,0,1680,4000,0,2014,06
29,1727,8146100580,13635,8146100580,765000.0,3,1.00,1220,7585,1.0,...,7,1220,0,1954,0,1380,8918,0,2014,10
30,1764,825069097,3029,825069097,770000.0,3,2.50,2650,40705,2.0,...,9,2650,0,1994,0,2550,42625,0,2014,06
31,1611,3889100029,6880,3889100029,810000.0,3,2.50,2670,10481,2.0,...,9,2670,0,2003,0,2620,8895,0,2014,06
32,1474,9524100196,20781,9524100196,239000.0,2,1.50,680,772,2.0,...,7,680,0,2005,0,690,1059,0,2014,11

In [28]:
merged_inner=clients.merge(df, left_on='house_id', right_on='id', how='inner')
merged_inner

,client_id,house_id,Unnamed: 0,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,year,month
0,1459,8965450190,7314,8965450190,295000.0,3,2.50,1500,3060,2.0,...,7,1500,0,1994,0,2700,7734,0,2015,02
1,4684,6823100225,15505,6823100225,700000.0,4,1.75,1870,6000,1.0,...,8,1670,200,1949,0,1710,6000,0,2015,04
2,3498,5104540330,7560,5104540330,679000.0,4,2.50,3680,7236,2.0,...,10,3680,0,2006,0,3310,7180,0,2015,05
3,3942,2131701075,13185,2131701075,420000.0,3,1.75,1720,5000,1.5,...,8,1720,0,1932,2009,1410,8300,77,2014,12
4,4535,1522700060,10395,1522700060,518000.0,4,2.75,2520,14021,2.0,...,9,2520,0,1999,0,2330,14007,0,2014,06
5,2308,1189000207,7861,1189000207,387000.0,2,2.50,1170,1394,2.0,...,8,1170,0,2001,0,1250,3136,0,2014,10
6,2866,6821600300,4660,6821600300,886000.0,3,2.25,2380,6000,2.0,...,9,1650,730,1931,0,2000,6000,0,2015,03
7,2765,7137950720,13827,7137950720,339100.0,4,2.50,2350,10655,2.0,...,8,2350,0,1992,0,2210,7028,0,2015,03
8,1472,9510920050,16528,9510920050,725000.0,3,2.50,2980,16996,2.0,...,10,2980,0,1992,0,2980,15438,0,2014,09
9,4236,6131600255,16228,6131600255,202500.0,3,2.00,1540,8316,1.0,...,6,1540,0,1954,0,1250,8316,0,2014,12
10,2295,5428000070,20765,5428000070,770000.0,5,3.50,4750,8234,2.0,...,10,3350,1400,2013,0,2160,14496,0,2015,05
11,939,1788800910,12610,1788800910,190000.0,3,1.00,1200,10458,1.0,...,6,1200,0,1961,0,1160,9000,0,2014,10
12,3840,8100400160,1362,8100400160,700000.0,3,2.25,2330,11424,2.0,...,8,2330,0,1984,0,2050,11448,0,2015,04
13,280,3123049142,6951,3123049142,452000.0,3,2.25,2600,14810,1.0,...,8,1490,1110,1956,0,2450,16715,0,2014,08
14,20,6306800010,20288,6306800010,436472.0,4,2.50,2692,8392,2.0,...,9,2692,0,2014,0,2574,14446,0,2014,08
15,4332,5083000375,3033,5083000375,170000.0,3,1.00,1310,9529,1.0,...,7,1310,0,1956,0,1330,9529,0,2014,10
16,4332,5083000375,3034,5083000375,235000.0,3,1.00,1310,9529,1.0,...,7,1310,0,1956,0,1330,9529,0,2015,03
17,3475,7920100025,2865,7920100025,450000.0,2,1.00,740,5100,1.0,...,7,740,0,1947,0,920,5100,0,2015,04
18,4213,1951600150,12993,1951600150,180000.0,3,1.00,1610,8500,1.5,...,7,1610,0,1959,0,1070,8750,0,2015,04
19,3113,809001400,9369,809001400,925000.0,3,1.00,1630,3200,1.5,...,8,1630,0,1912,0,1710,3600,0,2014,09
20,4809,339600110,3351,339600110,395000.0,3,2.50,1610,3755,2.0,...,7,1610,0,1987,0,1300,3823,0,2014,09
21,2134,1622049154,8879,1622049154,289900.0,3,1.75,1899,11325,2.0,...,7,1899,0,1943,2005,2000,10454,62,2014,12
22,2242,1099600250,6585,1099600250,260000.0,3,1.75,1710,6400,1.0,...,7,1240,470,1976,0,1600,6400,0,2014,12
23,2068,8563000110,17746,8563000110,427000.0,4,1.75,1460,9750,1.0,...,7,1460,0,1967,0,1820,9840,0,2015,04
24,4929,2768100205,19379,2768100205,519000.0,4,2.50,1950,2617,1.5,...,7,1250,700,1910,0,1520,1438,0,2014,06
25,1384,3995700435,11107,3995700435,265000.0,4,3.00,1940,8170,1.0,...,7,1940,0,1948,0,1310,8169,0,2014,07
26,1589,8861700030,10112,8861700030,510000.0,3,1.50,2400,10275,1.0,...,8,1540,860,1964,0,2380,10125,0,2014,12
27,3317,3303980210,18731,3303980210,1115000.0,4,3.75,4040,14212,2.0,...,11,4040,0,2002,0,3940,14212,0,2015,04
28,2260,7731100066,7447,7731100066,545000.0,3,1.00,1510,5000,1.5,...,7,1510,0,1909,0,1680,4000,0,2014,06
29,1727,8146100580,13635,8146100580,765000.0,3,1.00,1220,7585,1.0,...,7,1220,0,1954,0,1380,8918,0,2014,10
30,1764,825069097,3029,825069097,770000.0,3,2.50,2650,40705,2.0,...,9,2650,0,1994,0,2550,42625,0,2014,06
31,1611,3889100029,6880,3889100029,810000.0,3,2.50,2670,10481,2.0,...,9,2670,0,2003,0,2620,8895,0,2014,06
32,1474,9524100196,20781,9524100196,239000.0,2,1.50,680,772,2.0,...,7,680,0,2005,0,690,1059,0,2014,11

In [29]:
merged_right=clients.merge(df, left_on='house_id', right_on='id', how='right')
merged_right

,client_id,house_id,Unnamed: 0,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,year,month
0,NaN,NaN,0,7129300520,221900.0,3,1.00,1180,5650,1.0,...,7,1180,0,1955,0,1340,5650,0,2014,10
1,NaN,NaN,1,6414100192,538000.0,3,2.25,2570,7242,2.0,...,7,2170,400,1951,1991,1690,7639,40,2014,12
2,NaN,NaN,2,5631500400,180000.0,2,1.00,770,10000,1.0,...,6,770,0,1933,0,2720,8062,0,2015,02
3,NaN,NaN,3,2487200875,604000.0,4,3.00,1960,5000,1.0,...,7,1050,910,1965,0,1360,5000,0,2014,12
4,NaN,NaN,4,1954400510,510000.0,3,2.00,1680,8080,1.0,...,8,1680,0,1987,0,1800,7503,0,2015,02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,NaN,NaN,21608,263000018,360000.0,3,2.50,1530,1131,3.0,...,8,1530,0,2009,0,1530,1509,0,2014,05
21609,NaN,NaN,21609,6600060120,400000.0,4,2.50,2310,5813,2.0,...,8,2310,0,2014,0,1830,7200,0,2015,02
21610,NaN,NaN,21610,1523300141,402101.0,2,0.75,1020,1350,2.0,...,7,1020,0,2009,0,1020,2007,0,2014,06
21611,NaN,NaN,21611,291310100,400000.0,3,2.50,1600,2388,2.0,...,8,1600,0,2004,0,1410,1287,0,2015,01
21612,NaN,NaN,21612,1523300157,325000.0,2,0.75,1020,1076,2.0,...,7,1020,0,2008,0,1020,1357,0,2014,10

## 3.1 Найдите среднюю стоимость домов в зависимости от количества спален
### Отсортируйте от меньшей стоимости к большей

In [30]:
df.groupby(['bedrooms']).agg({'price':'mean'}).sort_values('price')

                 price
bedrooms
1         3.176429e+05
2         4.013727e+05
0         4.095038e+05
3         4.662321e+05
11        5.200000e+05
4         6.354195e+05
33        6.400000e+05
5         7.865998e+05
10        8.193333e+05
6         8.255206e+05
9         8.939998e+05
7         9.511847e+05
8         1.105077e+06

## 3.2 Найдите минимальную, среднюю и максимальную стоимости домов в зависимости от состояния дома

In [31]:
df.groupby(['grade']).agg({'price':['min','max','mean']})

           price
             min        max          mean
grade
1       142000.0   142000.0  1.420000e+05
3        75000.0   280000.0  2.056667e+05
4        80000.0   435000.0  2.143810e+05
5        78000.0   795000.0  2.485240e+05
6        82000.0  1200000.0  3.019196e+05
7        90000.0  2050000.0  4.025903e+05
8       140000.0  3070000.0  5.428528e+05
9       230000.0  2700000.0  7.735132e+05
10      316000.0  3600000.0  1.071771e+06
11      420000.0  7062500.0  1.496842e+06
12      835000.0  5350000.0  2.191222e+06
13     1780000.0  7700000.0  3.709615e+06

## 3.3 Постройте таблицу с подсчетом количества домов в данных в зависимости от вида на набережную и оценкой вида

In [32]:
df.pivot_table(index='waterfront',
              columns='view',
               values='grade',
               aggfunc='count')

view              0      1      2      3      4
waterfront
0           19489.0  331.0  955.0  491.0  184.0
1               NaN    1.0    8.0   19.0  135.0

## 3.4 Каких домов в зависимости от этажности и количества спален больше? 
(больше всего домов на первом этаже с тремя спальнями)

In [33]:
pd.crosstab(index=df['floors'],
           columns=df['bedrooms'])

bedrooms  0    1     2     3     4    5    6   7   8   9   10  11  33
floors
1.0        4  162  1951  5455  2383  605  104   9   5   0   1   0   1
1.5        0   21   182   786   698  185   30   7   1   0   0   0   0
2.0        6   12   497  3118  3682  775  119  19   6   4   2   1   0
2.5        0    1     5    56    58   23   14   2   0   2   0   0   0
3.0        2    3   123   405    61   13    5   1   0   0   0   0   0
3.5        1    0     2     4     0    0    0   0   1   0   0   0   0

## 3.5 Постройте таблицу с подсчетом медианной стоимости домов в данных в зависимости от состояния дома и оценки дома

In [34]:
df.groupby(['condition','grade']).agg({'price':'median'}).unstack('grade').fillna(0)

              price                                                    \
grade            1         3         4         5         6         7
condition
1          142000.0       0.0  150000.0  190000.0  255000.0  403500.0
2               0.0  280000.0  145000.0  180000.0  235000.0  305000.0
3               0.0   75000.0  205000.0  234475.0  265000.0  357500.0
4               0.0       0.0  238525.0  229975.0  295000.0  390000.0
5               0.0  262000.0       0.0  227450.0  285475.0  456000.0


grade            8          9          10         11         12         13
condition
1          932500.0        0.0        0.0        0.0        0.0        0.0
2          429000.0   715000.0  1752500.0        0.0        0.0        0.0
3          485000.0   689000.0   890000.0  1209500.0  1807500.0  2888000.0
4          571250.0   823500.0  1030000.0  1685000.0  2125000.0  5750000.0
5          696000.0  1078000.0  1650000.0  2050000.0  1990000.0        0.0